.body-max-size {
    bottom: 0;
    height: calc(100vh - 6rem - 24px);
    width: 100vw;
    overflow: hidden;
    padding: 25px 35px 25px 35px;
}

.bae-style-square {
    height: 1.75vw;
    width: 1.75vw;
    background-color: #FC4D02;
}

.page-image{
    width: 30vw;
    height: auto;
    padding: 3rem;
}

.responsive-header{
    font-size: 2.25vw;
}

.responsive-body{
    font-size: 1.40vw;
}

.responsive-title{
    font-size: 3vw;
}